.calendar-hour {
    height: 50px;
    margin: 2px 0;
    background-color: lightskyblue;
}

.calendar {
    position: relative;
    align-content: flex-end;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

.conatiner {
    background-color: #ffcc33;
    margin: auto;
}

#first {
    margin-left: 0;
    width: 15px;
    float: left;
    height: 40px;
    background-color: blue;
}

.calendar-meeting {
    position: absolute;
    width: 100%;
    top: 314px;
    /* ( 40 + 2 ) * 7 + 20 */
    height: 40px;
    background-color: goldenrod;
}

.calender ul {
    margin-left: 10px;
    display: inline;
    text-align: left;
}

.calendar li {
    margin-left: 10px;
    display: initial;
    text-decoration: none;
    color: black;
    /*text-align: left;*/
    grid-row-start: auto;
}

.foot {
    text-shadow: 1em gray;
    text-align: center;
    padding: 10px;
}

.date-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-picker input {
    width: 50px;
}

.calender-time-container {
    position: relative;
}

.hour {
    display: flex;
    position: relative;
    margin: 5px 0;
}

.hour:nth-child(1) {
    margin-top: 0;
}

.time {
    position: absolute;
    display: inline-block;
    margin: 1px 4px 4px 4px;
}

.hour-bar {
    height: 50px;
    width: 100%;
    background-color: rgb(115, 199, 213);
    margin-left: 25px;
}

.meetings-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}

.meeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
}

.meeting-heading {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    margin: 1px 0 0 5px;
    padding-top: 4px;
    line-height: 15px;
    color: black;
}

.meeting-hr {
    color: black;
    margin: 3px;
}

.meeting-attendees {
    display: block;
    margin: 1px 0 0 5px;
    padding-top: 1px;
    text-align: left;
    font-size: 10px;
    line-height: 15px;
    color: black;
}

.meeting1 {
    position: absolute;
    width: 95%;
    top: 341px;
    height: 47px;
    margin-left: 30px;
    background-color: rgb(227, 235, 237);
    border: grey solid 1px;
    z-index: 1;
}

.meeting2 {
    position: absolute;
    width: 95%;
    top: 508px;
    height: 70px;
    margin-left: 30px;
    background-color: rgb(227, 235, 237);
    border: grey solid 1px;
    z-index: 1;
}

.date-picker input {
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    padding: 1em;
}

@media (min-width: 768px) {
    .date-picker input {
        width: 200px;
        padding: 1em;
    }
}

@media screen and (max-width: 800px) {
    .calendar {
        font-size: small;
        padding: 1em;
        margin-top: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 375px) {
    .calendar {
        padding: 1em;
        margin: 30px 4px 4px 4px;
    }
    .date-picker input {
        width: 190px;
        margin-left: 20px;
        padding: 1em;
    }
    .meeting1,
    .meeting2 {
        margin-right: 6px;
        width: 90%;
    }
}