.calendar {
    /*position: relative;*/
    align-content: flex-end;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 50px;
    /*background-color: greenyellow;*/
}

html * {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*background-color: pink;*/
}

.flex-container>div {
    border: 1px solid gray;
    border-radius: 5px;
    width: 330px;
    height: 330px;
    margin: 20px;
    /*background-color: purple;*/
    padding-left: 20px;
}

.container {
    width: 200px;
    height: 30px;
    padding-bottom: 10px;
    /*background-color: lightgoldenrodyellow;*/
}

.line-hr {
    width: 300px;
    align-self: center;
}

#st-box {
    float: left;
    width: 80px;
    height: 35px;
    background-color: white;
}

#rd-box {
    float: right;
    /*width: 120px;
height: 35px;
background-color: white;*/
}

#b-tag {
    font-weight: bold;
    margin-left: 120px;
    padding-bottom: 120px;
    font-size: 50px;
    cursor: pointer;
}

.button-2 {
    background-color: rgb(238, 39, 39);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    width: 120px;
    cursor: pointer;
    border-radius: 4px;
}

.button-3 {
    background-color: rgb(12, 120, 221);
    border: none;
    color: white;
    padding: 8px 9px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    width: 45px;
    cursor: pointer;
    border-radius: 4px;
}

.foot {
    text-shadow: 1em gray;
    text-align: center;
    padding: 10px;
}

@media screen and (
/*min-width: 4000px*/

min-height: 500px) {
    .flex-container,
    .flex-container>div {
        float: inline-start;
    }
}

@media screen and (max-width: 800px) {
    .calendar {
        font-size: small;
        padding: 1em;
        margin-top: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 375px) {
    .calendar {
        font-size: small;
        padding: 1em;
        padding-right: 0;
        margin: 20px 4px 4px 4px;
    }
    .flex-container {
        margin-left: 0;
        margin-right: 0;
    }
    .flex-container>div {
        margin-left: 0;
        height: 300px;
        width: 300px;
    }
    .line-hr {
        width: 270px;
        align-self: center;
    }
}