.calendar {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

.calendar-hour {
    height: 50vw;
    margin-top: 10px;
    border-radius: 5px;
    background-color: lightskyblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}